<%- include('partials/header') %> 

<%- include('partials/navigation') %>

<%- include('partials/background') %>

<div class="container mt-5 mb-5">
    <div class="row mb-4">
        <% for (let i = 0; i < post.length; i++) { %>
        <div class="col-lg-4 col-md-6 mb-5">
            <div class="card shadow bg-white rounded h-100">
                <a href="/posts/<%= post[i]._id %>">
                    <img class="card-img-top img-thumbnail" src="<%= post[i].pic %>" alt="<%= post[i].title %>">
                </a>
                <div class="card-body">
                    <a href="/posts/<%= post[i]._id %>">
                        <h5 class="card-title font-weight-bold">
                            <%= post[i].title %>
                        </h5>
                    </a>
                    <div class="card-subtitle mb2 text-muted">
                        <p>
                            <em>
                                By <%= post[i].userId.firstName %>
                                <%= post[i].userId.lastName %>
                            </em>
                            on <%= post[i].date.toDateString() %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</div>

<%- include('partials/footer') %>
