<%- include('../partials/header') %>

<%- include('../partials/navigation') %>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-2 col-md-2">
            <div class="card shadow bg-white rounded ">
                <img src="../img/avatar.jpg" class="card-img-top" alt="...">
                <hr>
                <div class="card-body">
                  <p class="card-text">
                    <%= loggedUser.firstName %> <%= loggedUser.lastName %>
                  </p>
                  <p class="card-text">Member since <%= loggedUser.date.toDateString().substring(4) %></p>
                </div>
            </div>
        </div>

        <div class="col-lg-10 col-md-10">
            <div class="card shadow bg-white rounded">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-9">
                          <h4>User Info</h4>
                          <hr>
                        </div>
                        <div class="col-sm-3">
                          <a href="/editProfile/<%= loggedUser._id %>" class="btn btn-success">
                            <i class="fas fa-pencil-alt"></i> Edit Profile
                          </a>
                        </div>
                    </div>

                    <div class="row mt-5">
                        <div class="col-sm-6">
                            <p class="font-weight-bold">First Name</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="text-muted"><%= loggedUser.firstName %></p>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-sm-6">
                            <p class="font-weight-bold">Last Name</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="text-muted"><%= loggedUser.lastName %></p>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-sm-6">
                            <p class="font-weight-bold">Email</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="text-muted"><%= loggedUser.email %></p>
                        </div>
                    </div>

                    <h5 class="font-weight-bold mb-3 mt-3">My posts</h5>
                    <div class="row mt-2">
                        <div class="table-responsive-sm">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">No</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Created On</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%  if (post.length > 0) { %>
                                            <% for (let i = 0; i < post.length; i++) { %>
                                                    <tr>
                                                        <td><%= i + 1 %></td>
                                                        <td><%= post[i].title %></td>
                                                        <td><%= post[i].date %></td>
                                                        <td>
                                                            <a href="/editPost/<%= post[i]._id %>" class="btn btn-primary">Edit</a>
                                                        </td>
                                                    </tr>
                                            <%  } %>
                                    <%  } else { %>
                                            <div class="jumbotron bg-warning text-white">
                                                <div class="container text-center">
                                                    <h1 class="display-4 font-weight-bold">
                                                        No Posts Found
                                                    </h1>
                                                </div>
                                            </div>
                                    <%  } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>
